## Neural Network

In [1]:
import pandas as pd

In [2]:
cpi = pd.read_csv("wld_warm_div20.txt", sep=",", header=None)

cpi[:1]

,0,1,2,3,4,5,6,7,8,9,...,278,279,280,281,282,283,284,285,286,287
0,2.325282,2.696614,2.334887,2.619678,1.39219,0.631348,2.144573,2.097855,2.015603,1.409936,...,1.966699,1.743613,1.689827,2.076212,0.917113,3.851269,2.092483,1.747901,0.810541,2.580693

In [3]:
ann = pd.read_csv("scc_ann1.txt", sep=",", header=None)

ann.columns = ["# of inputs", "# of hidden neurons", "# of output neurons",
                          "x1-a1", "x2-a1", "x3-a1", "x4-a1", "bias-a1", 
                          "x1-a2", "x2-a2", "x3-a2", "x4-a2", "bias-a2", 
                          "a1-h", "a2-h", "bias-h"]

ann[:1]

,# of inputs,# of hidden neurons,# of output neurons,x1-a1,x2-a1,x3-a1,x4-a1,bias-a1,x1-a2,x2-a2,x3-a2,x4-a2,bias-a2,a1-h,a2-h,bias-h
0,4,2,1,6.45294,0.017452,1.582344,2.293046,2.12057,3.951125,12.720648,-19.327801,5.587888,9.382982,0.003064,0.003539,0.795949

In [4]:
ann = ann.iloc[:,3:]

In [5]:
ann[:1]

,x1-a1,x2-a1,x3-a1,x4-a1,bias-a1,x1-a2,x2-a2,x3-a2,x4-a2,bias-a2,a1-h,a2-h,bias-h
0,6.45294,0.017452,1.582344,2.293046,2.12057,3.951125,12.720648,-19.327801,5.587888,9.382982,0.003064,0.003539,0.795949

In [6]:
theta1 = ann.iloc[:,:10]
theta1[:1]

,x1-a1,x2-a1,x3-a1,x4-a1,bias-a1,x1-a2,x2-a2,x3-a2,x4-a2,bias-a2
0,6.45294,0.017452,1.582344,2.293046,2.12057,3.951125,12.720648,-19.327801,5.587888,9.382982

In [7]:
theta2 = ann.iloc[:,10:]

theta2[:1]

       a1-h      a2-h    bias-h
0  0.003064  0.003539  0.795949

In [8]:
theta2.to_csv("theta2.txt", index=False)

In [9]:
t = theta1.values.flatten()

t[:5]

array([6.45294048, 0.01745243, 1.58234418, 2.29304557, 2.12057013])

In [10]:
pd.DataFrame(t).to_csv("theta1.txt", sep=',')

In [11]:
ans = ""

for i in t:
    ans += str(i) + ", "